
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    /* color: white; */
    color: black;
    text-transform: capitalize;
    font-family: system-ui;
}

:root{
    --body-background: green;
    --main-background: #b4d6df;
    --button-color-0: #797979;
    --button-color-1: #30309bc9;
    --button-color-2: #ff4848;
    --button-color-3: #1f748a;
    --button-color-4: rgb(255, 197, 81);
    --border-focus-line: 2px solid #31e70c;
    --border-fixed: solid #000000 0.5px;
    --hover-color: #6c806e ;
    --text-input-fieled: gray; 
}   


body{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 5px;
    gap: 10px;
}

h2{
    font-size: 15px;
}


.mainPage{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0.5em .3em;
    /* gap: .3em;  */
    margin: auto;
}  

input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: var(--border-fixed);
    margin: 4px 0px;
    padding: 0px 7px;
}

button{
    width: 100%;
    height: 100%;
}

.head{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 40px;
    text-align: center;
    color: wheat;
    font-size: 16px;
    /* outline: #212121 solid 2px; */
}

input:focus{
    transform: scale(1.01);
    border: var(--border-focus-line);
}  


#idaddDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    min-height:30px;
    gap: 10px;
    padding: 10px ;
    border-radius: 15px;
    background-color: #ffffff;
    outline: 1px solid gray;
}

#idnewDataDivUp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-height:30px;
    width: 50%;
    gap: 10px;
    padding: 10px ;
    border-radius: 15px;
    background-color: #efebeb;
    outline: 1px solid gray;
}

#idnewDataDivDown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height:330px;
    width: 50%;
    gap: 5px;
    padding: 10px ;
    border-radius: 15px;
    background-color: #ffffff;
    outline: 1px solid gray;
}

.adddatachosebtn{
    width: 50%;
    height: 45px;
    border-radius: 7px;
    outline: 1px solid rgb(105, 108, 105) ;
    font-weight: bold;
    background-color: #ffffff; 
    font-size: 16px;
}

.detailsDivs{
    display: flex;
    height: fit-content;
    width: 32%;
    flex-direction: column;
    gap: .2em;
    padding: 10px ;
    border-radius: 15px;
    background-color: #ffffff;
}

.detailsButton{
    background-color: #f8f7f7;
    width: 100%;
    height: 25px;
    border-radius: 7px;
    outline: black solid 1px;
    border: none;
    color: green;
    /* justify-content: space-evenly; */
}

#idClose{
    background-color: #e3e3e3;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: black solid 2px;
    margin: 3px 0 0 0;
    color: red;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 0 5px;
} 

th{
    height: 50px;
}

th, #IDheadDiv, .CLASSfiguersDiv{
    background-color: #ffdd6e;  
    color: #000000;
    width: 100;
}

.throws{
    outline: #000000 1px solid;
    box-shadow: 3px 3px 3px 3px #1a1919;
    /* margin-top: 20px; */
    width: 100%;
}

td{
    padding: 0px 5px;
    background-color: rgb(235, 231, 231);
}

#idgetDetails{
    border-radius: 7px;
    width: 100%;
    font-size: 16px;
    outline: 1px outset #07f007;
    padding: 0 10px;
    margin-left: 10px;
}

.qqq{
    border-radius: 7px;
    background-color: none;
    font-size: 16px;
    outline: none;
}

.qqq, td, #idgetDetails{
    height: 40px;
}

.red{background-color: #cc1515; } 

.product-row{background-color: #152dcc;}
.ww{background-color: #cc15b4;}










 @media only screen and (max-width: 700px) {
    *{
        font-size: 13px;  
        font-weight: bold;
    }

    body {
      background-color: #eee5e1;
    }
    input, button{
        width: 100%;
        height: 40px;
    }    
    button, .head, #total, th{
        background-color: #ffd562;
        box-shadow: 2px 2px 2px 0px rgba(0,0,1);
        /* border: .5px solid #e76b0c; */

    }
    
    .head{
        box-shadow: 2px 2px 2px 1px rgba(0,0,1);
    }

    table{
        background-color: #989292;
        text-align: center;
        
    }    
     #update, #delete{
        font-size:11px;
        background-color: #7fc278;
        font-weight:bold;
    }

    td{
        background-color: #edf7e9;
        font-size: 11px;  

    }


    .rows{
        height: 20px;
    }
    #update, #delete{
        height: 30px;
        /* border-radius: 100PX 20PX; */
        background-color: #7fc278;
        box-shadow: 2px 2px 2px 0px rgba(0,0,1);
        /* border: 2px solid #e76b0c;  */
    }
    .crud{
        width: 100%;
        padding: 8px;
    }

}   


